<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="ISO-8859-1">
<title>Owner Page</title>
</head>
<body>
<h2 th:text = "'This is the Owneeer Page'">This is the owner page</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<td style="width: 150px;">ID</td>
				<td style="width: 150px;">First Name</td>
				<td style="width: 150px;">Last Name</td>
			</tr>
	    </thead>
	    <tbody>
			<tr th:each = "owner : ${owners}">
				<td th:text="${owner.id}"></td>
				<td th:text="${owner.firstName}"></td>
				<td th:text="${owner.lastName}"></td>
			</tr>
	    </tbody>
	</table>
</body>
</html>